{{input type="text" value=name placeholder="Name"}}
{{input type="text" value=email placeholder="Email"}}
{{input type="password" value=password placeholder="Password"}}
{{input type="password" value=password_confirmation placeholder="Confirm password"}}

<button {{action "save"}}>Create</button>